html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

*{
    -webkit-font-smoothing:antialiased;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
}
html{
    height:100%;
    width:100%;
}
body{
    background:url(http://subtlepatterns.com/patterns/wavegrid.png);
}
.header{
    width:100%;
    background:rgba(228,228,228,.8);
    float:left;
    text-align:center;
    font-family:'Raleway';
    font-weight:200;
    line-height:5em;
    z-index:10000;
}
.wrap{
    position:relative;
    margin:0 auto;
    width:100%;
}
h1{
    font-size:2em;
    font-family:'Raleway';
    margin:0;
    display:inline;
    float:left;
    padding:20px;
    padding-bottom:0;
}
h1 a{
    color:#999;
}
h2{
    font-size:1em;
    margin:0;
    display:inline;
    float:right;
    padding:15px;
}
a{
    text-decoration:none;
    -webkit-transition:color 0.5s;
    -moz-transition:color 0.5s;
    -o-transition:color 0.5s;
    transition:color 0.5s;
    color:blue;
}
a:hover{
    color:black;
}
#navbar{
    display:inline-block;
    position:absolute;
    width:115px;
    list-style-type:none;
    font-family:"Raleway";
    font-weight:200;
    top:130px;
    left:1%;
    background:rgba(228,228,228,.8);
    padding:1%
}
#navbar li{
    padding-bottom:10px;
}
#navbar a{
    text-decoration:none;
    display:block;
    color:black;
    font-size:1.2em;
    -webkit-transition:color 0.5s;
    -moz-transition:color 0.5s;
    -o-transition:color 0.5;
    transition:color 0.5s;

    
}
#navbar a:after{
    clear:both;
    display:block;
    content: "";
    position:relative;
    width:0;
    //left:50%;
    height:3px;
    background: rgb(59,109,197);
    -webkit-transition:width 0.5s, left 0.5s;
    -moz-transition:width 0.5s, left 0.5s;
    -o-transition:width 0.5s, left 0.5;
    transition:width 0.5s, left 0.5s;
}
#navbar a:hover:after, #navbar a:focus:after{
    width:100%;
    left:0;
}
#navbar a:hover{
    color:rgb(59,109,197);
}
.content{
    display:inline-block;
    width:100%;
    height:420px;
    left:0;
    top:110px;
    box-shadow:0 1px 5px;
    position:absolute;
    background:#f8f8ff;
    z-index:-3;
}

@import url(http://fonts.googleapis.com/css?family=Varela+Round);

ul, li { display: block; }

#body {
    padding: 0;
    width: 100%;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
    overflow:hidden;
}

#body * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#body input { display: none; }

#img-inner {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    
    transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    
    transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -webkit-transition: all .7s ease-in-out;
}

#img-inner img {
    width: 100%;
    height: 100%;
}

#img-inner:nth-of-type(1) {
    /* And... CSS3 image preloading :D */
    background-image:
        url("http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg"),
        url("http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg"),
        url("http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg"),
        url("http://farm9.staticflickr.com/8055/8098750623_66292a35c0_z.jpg"),
        url("http://farm9.staticflickr.com/8195/8098750703_797e102da2_z.jpg");
}

#img-inner:hover ~ label.sb-bignav { opacity: 0.5; }

label.sb-bignav:hover { opacity: 1; }


.sb-bignav {
    width: 19.8%;
    height: 100%;
    display: none;
    position: absolute;
    
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    
    transition: opacity .2s;
    -moz-transition: opacity .2s;
    -webkit-transition: opacity .2s;
    
    color: white;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

label[title="Next"] { right: 0; }

input:checked + li > #img-inner {
    opacity: 1;
        
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

input:checked + li > label { display: block; }

.nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6
{ background: rgba(0, 0, 0, 0.8); }





.twitter-timeline{
    position:relative;
}

.share-wrapper {
  margin-right:5%;
  margin-top:-4px;
  position: relative;
  float:right;
}
.share-general-link {
  position: absolute;
  top: 0;
  left: 0;
}
.share-general-link.active {
  display: none;
}
.share-list {
  list-style: none;
  visibility: hidden;
}
.share-list.active {
  visibility: visible;
  max-width: 10em;
}
.share-list.active .share-item {
  visibility: visible;
  margin-right: 0;
}
.share-item {
  display: inline-block;
  margin-right: -35px;
  transition: all 0.2s ease-out;
}

.social{
    display:inline-block;
    position:absolute;
    float:right;
    right:20px;
    top:300px;
}

#headlines{
    position:absolute;
    left:15px;
    width:80%;
    height:300px;
    background:rgba(128,128,128,.7);
    top:610px;
    padding:10px;
}

footer{
    clear: both;
    position:relative;
    bottom:0;
    z-index:10;
    height:5em;
    margin-top:3em;
    width:100%;
    float:left;
    padding:15px 15px;
    background:#777;
    font-family:"Raleway";
    font-style:bold;
    color:white;
    margin-top:1000px;

}

